.app {
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
}

.content {
  width: 80%;
}

@media (max-width: 1200px) {
  .content {
    width: 100%;
  }

  .app {
    flex-direction: column;
  }
}